@media only screen and (max-width: 1150px) {
    #admin-menu {
        width: 20%;
    }

    #admin-body {
        width: 80%;
    }

    .login-form {
        width: 45%;
    }

    .remember-me {
        display: block;
    }

    .forget-password {
       float: left;
       margin-top: 5px;
    }
}

@media only screen and (max-width: 980px) {
    #admin-menu {
        width: 25%;
        left: -25%;
    }

    .open-menu {
        display: block;
    }

    #admin-body {
        width: 100%;
    }

    #admin-menu > ul > li:first-child {
        display: block;
    }

    h3.add-category-header {
        margin-top: 30px;
    }

    .search-form input {
        width: 400px;
    }

    #admin-menu.admin-menu-mobile {
        left: 0;
    }

    #admin-body.admin-body-mobile {
        width: 75%
    }

    .login-form {
        width: 60%;
        top: 15%;
    }

    .confirm-modal {
        width: 55%;
    }
}

@media only screen and (max-width: 768px) {
    .item-titles {
        display: none;
    }

    .item-body {
        padding-bottom: 10px;
    }

    .search-form input {
        width: 300px;
    }

    #admin-menu {
        left: -40%;
    }

    #admin-menu.admin-menu-mobile {
        width: 40%;
    }

    #admin-body.admin-body-mobile {
        width: 100%;
    }

    .login-form {
        width: 75%;
        top: 12%;
    }

    .confirm-modal {
        width: 85%;
    }
}


@media only screen and (max-width: 480px) {
    .search-form input {
        width: 180px;
    }

    .logout a span {
        display: none;
    }

    #admin-menu {
        left: -70%;
    }

    #admin-menu.admin-menu-mobile {
        width: 70%;
    }

    .login-form {
        width: 100%;
        top: 0;
    }

    .confirm-modal {
        width: 100%;
    }
}
